@using System.Reflection
@using System.ComponentModel.DataAnnotations
@using VGLog.Models
@using VGLog.Models.Enums
@using VGLog.Services
@using VGLog.Services.DTOs

@inject DialogService DialogService
@inject VideogameService VideogameService
@inject UserGamesService UserGamesService


<RadzenTemplateForm TItem="UpdateUserGameDto" data="@EditDto" Submit="@OnSubmit">
    <div style="dialog-form">

        <div>
            <RadzenLabel Text="Game Status" Style="color:#a0a0b8; font-size:12px; text-transform:uppercase; letter-spacing:1px;" />
            <RadzenDropDown @bind-Value="@EditDto.GameStatus"
                            Data="@GameStatuses"
                            Placeholder="Game Status"
                            TextProperty="Value"
                            ValueProperty="Key"
                            Style="width:100%; margin-top:4px; background-color:#1a1a2e; color:white !important;" />
        </div>

    </div>

    <div>
        <RadzenLabel Text="Hours Played" Style="color:#a0a0b8; font-size:12px; text-transform:uppercase; letter-spacing:1px;" />
        <RadzenNumeric @bind-Value="EditDto.HoursPlayed"
                       Style="width:100%; margin-top:4px; background-color:#1a1a2e;" />
    </div>


    @if (EditDto.GameStatus != GameStatusEnum.Toplay)
    {
        <div>
            <RadzenLabel Text="Notes" Style="color:#a0a0b8; font-size:12px; text-transform:uppercase; letter-spacing:1px;"/>
            <RadzenTextArea @bind-Value="EditDto.Notes" Rows="3"
                            Style="width:100%; margin-top:4px; resize:none; background-color:#1a1a2e; " />
        </div>
        
        <div>
            <RadzenLabel Text="Rating" Style="color:#a0a0b8; font-size:12px; text-transform:uppercase; letter-spacing:1px;" />
            <RadzenRating Value="@(EditDto.PersonalRating ?? 0)"
                          ValueChanged="@(v => EditDto.PersonalRating = v)"
                          Stars="10"
                          Style="margin-top:4px; width:100%" />
        </div>
    }




    <div style="display:flex; justify-content:flex-end; gap:10px; margin-top:8px;">
        <RadzenButton Text="Cancel"
                      Click="@Close"
                      ButtonStyle="ButtonStyle.Secondary" />

        <RadzenButton Text="Save"
                      ButtonType="ButtonType.Submit"
                      Style="margin-right:10px" />

    </div>
</RadzenTemplateForm>


@code {
    [Parameter]
    public UserGame UserGame { get; set; }

    private UpdateUserGameDto EditDto { get; set; }

    protected override void OnInitialized()
    {
        EditDto = new UpdateUserGameDto
            {
                Id = UserGame.Id,
                HoursPlayed = UserGame.HoursPlayed,
                Notes = UserGame.Notes,
                PersonalRating = UserGame.PersonalRating,
                GameStatus = UserGame.GameStatus
            };
    }

    private async Task OnSubmit(UpdateUserGameDto dto)
    {
        await UserGamesService.EditUserGameAsync(dto);

        DialogService.Close(true);
    }

    private void Close()
    {
        DialogService.Close(false);
    }

    private async Task MarkAsdropped(UserGame item)
    {

        await UserGamesService.EditUserGameStatusAsync(item.Id, GameStatusEnum.Dropped);

        item.GameStatus = GameStatusEnum.Dropped;

        StateHasChanged();
    }

    protected List<KeyValuePair<GameStatusEnum, string>> GameStatuses =
    Enum.GetValues<GameStatusEnum>()
        .Select(e => new KeyValuePair<GameStatusEnum, string>(
            e,
            e.GetType()
             .GetMember(e.ToString())[0]
             .GetCustomAttribute<DisplayAttribute>()?.Name ?? e.ToString()
        ))
        .ToList();
}
