@page "/account/profile"
@attribute [Authorize]
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using Radzen
@using Radzen.Blazor
@using System.Reflection
@using System.ComponentModel.DataAnnotations
@using System.Security.Claims
@using VGLog.Data
@using VGLog.Models
@using VGLog.Services
@using Microsoft.AspNetCore.Components.Authorization
@using VGLog.Services.DTOs
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject VGLog.Services.VideogameService VideogameService
@inject VGLog.Services.UserGamesService UserGamesService

@inject Radzen.NotificationService NotificationService
@inject DialogService DialogService
@inject UserManager<ApplicationUser> UserManager


<RadzenDialog />

<RadzenNotification />


<div>
    <RadzenCard Style="display:flex; align-items:center; gap:1.5rem; padding:1.5rem;" class="stat-card">

        @if (!string.IsNullOrEmpty(avatarBase64))
        {
            <img src="@avatarBase64" style="width:256px; height:256px; border-radius:12px; object-fit:cover;" />
        }
        <div style="display:flex; flex-direction:column; gap:0.4rem; margin-bottom: 9rem">
            <h2 style="margin:0; font-size:4rem; font-weight:700; color: #9c9487;">@displayName</h2>
            <div style="display:flex; align-items:center; gap:0.5rem; font-size:0.85rem; color: #9c9487;">
                <RadzenIcon Icon="calendar_today" Style="font-size:16px;" />
                <span>Joined: @joinedDate</span>
            </div>
            <h3 style="margin:0; color:#666; font-size:0.9rem; color: #9c9487;">bioAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA futura</h3>

        </div>
    </RadzenCard>
</div>

<div class="stats-container" Style="margin-top: 1rem">
    <RadzenCard Class="stat-card" Style="width:25%">
        <div class="stat-header text-primary">
            <span>Total Games</span>
        </div>
        <div class="stat-value text-dark">
            <RadzenIcon Icon="density_small" Class="stat-icon text-primary" />
            @if (ProfileData != null)
            {
                <span Class="text-primary">@ProfileData.Total</span>
            }
        </div>
    </RadzenCard>

    <RadzenCard Class="stat-card" Style="width:24%">
        <div class="stat-header text-success">
            <span>Completed</span>
        </div>
        <div class="stat-value text-dark">
            <RadzenIcon Icon="check_circle" Class="stat-icon text-success" />
            @if (ProfileData != null)
            {
                <span Class="text-success">@ProfileData.Completed</span>
            }
        </div>
    </RadzenCard>

    <RadzenCard Class="stat-card" Style="width:24%">
        <div class="stat-header text-purple">
            <span>Hours Played</span>
        </div>
        <div class="stat-value text-purple">
            <RadzenIcon Icon="data_info_alert" Class="stat-icon text-purple" />
            @if (ProfileData != null)
            {
                <span Class="text-purple">@ProfileData.TotalHours</span>
            }
        </div>
    </RadzenCard>

    <RadzenCard Class="stat-card" Style="width:24%">
        <div class="stat-header text-yellow">
            <span>Completion Rate</span>
        </div>
        <div class="stat-value text-yellow">
            <RadzenIcon Icon="done_all" Class="stat-icon text-yellow" />
            @completionRate%
        </div>
    </RadzenCard>
</div>
<div class="stats-container" Style="margin-top:1rem">
    <RadzenCard Class="stat-card" Style="width:33%">
        <div class="stat-header text-dark">
            <span>Average Rating</span>
        </div>
        <div class="stat-value text-dark">
            <RadzenIcon Icon="kid_star" Class="stat-icon text-dark" />
            @avgRating
        </div>
    </RadzenCard>

    <RadzenCard Class="stat-card" Style="width:32%">
        <div class="stat-header text-dark">
            <span>Most played</span>
        </div>
        <div class="stat-value text-dark">
            <img src="data:image/jpeg;base64,@Convert.ToBase64String(mostPlayedGame.Videogame.Image)" style="width:55px; height:75px; object-fit:cover; border-radius:6px;" />
            <div style="display:flex; flex-direction:column; gap:0.2rem;">
                <span style="font-size:1rem; font-weight:700;">@mostPlayedGame.Videogame.Title</span>
                <span style="font-size:0.85rem; color:#555;">@mostPlayedGame.HoursPlayed hours</span>
            </div>
        </div>
    </RadzenCard>

    <RadzenCard Class="stat-card" Style="width:33%">
        <div class="stat-header text-dark">
            <span>Recently Completed</span>
        </div>
        <div class="stat-value text-dark">
            <img src="data:image/jpeg;base64,@Convert.ToBase64String(mostRecentlyCompletedGame.Videogame.Image)" style="width:55px; height:75px; object-fit:cover; border-radius:6px;" />
            <div style="display:flex; flex-direction:column; gap:0.2rem;">
                <span style="font-size:1rem; font-weight:700;">@mostRecentlyCompletedGame.Videogame.Title</span>
                <span style="font-size:0.85rem; color:#555;"> on @mostRecentlyCompletedGame.CompletedAt?.ToString("MMMM dd, yyyy") </span>
            </div>
        </div>
    </RadzenCard>
</div>

@code {
    private List<UserGame> UserGames { get; set; } = new();
    protected List<KeyValuePair<GameStatus, string>> GameStatuses =
    Enum.GetValues<GameStatus>()
        .Select(e => new KeyValuePair<GameStatus, string>(
            e,
            e.GetType()
             .GetMember(e.ToString())[0]
             .GetCustomAttribute<DisplayAttribute>()?.Name ?? e.ToString()
        ))
        .ToList();

    private UpdateUserGameDto EditDto { get; set; }

    private string? displayName;
    private AuthenticationState? authState;
    private ClaimsPrincipal? user;
    private GetUserGamesDto? ProfileData;
    private GameStatus PlayedOrNot { get; set; }
    private int? SelectedGameId { get; set; }
    private Videogame? SelectedGame { get; set; }
    private int SelectedRating { get; set; } = 1;
    private string? SelectedNotes { get; set; }
    private int? HoursPlayed { get; set; }
    private string? userId;
    private string? avatarBase64;
    private string joinedDate;
    private double avgRating;
    private UserGame mostPlayedGame;
    private UserGame mostRecentlyCompletedGame;
    private double completionRate;



    protected override async Task OnInitializedAsync()
    {
        authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();

        user = authState.User;

        userId = user.FindFirst(ClaimTypes.NameIdentifier)?.Value;

        var currentUser = await UserManager.FindByIdAsync(userId);

        joinedDate = currentUser.UserCreationTime.ToString("dd MMMM, yyyy", System.Globalization.CultureInfo.InvariantCulture);
        avatarBase64 = currentUser.Avatar != null
            ? $"data:image/png;base64,{Convert.ToBase64String(currentUser.Avatar)}"
            : null;

        displayName = user.Claims
                .FirstOrDefault(c => c.Type == "DisplayName")?.Value ?? user.Identity.Name;

        avgRating = await GetAvgRatingService(userId);

        mostPlayedGame = await GetMostPlayedGameService(userId);

        mostRecentlyCompletedGame = await GetRecentlyCompleteGameService(userId);

        await LoadUserGames();
    }

    private async Task LoadUserGames()
    {
        try
        {
            ProfileData = await UserGamesService.GetUserGamesWithCounterAsync(userId);
            UserGames = ProfileData.Games;
            completionRate = ProfileData?.Total > 0
                ? Math.Round((double)ProfileData.Completed / ProfileData.Total * 100, 1)
                : 0;
        }
        catch
        {
            NotificationService.Notify(NotificationSeverity.Error, "Error", "There's an error retrieving the profile data, try again later");
        }

    }

    private async Task MarkAsdropped(UserGame item)
    {

        await UserGamesService.EditUserGameStatusAsync(item.Id, GameStatus.Dropped);

        item.GameStatus = GameStatus.Dropped;

        StateHasChanged();
    }

    private async Task DeleteUserGame(UserGame item)
    {
        bool? confirmed = await DialogService.Confirm(
                $"Are you sure you want to delete {item.Videogame.Title}?",
                "Confirm Delete",
                new ConfirmOptions() { OkButtonText = "Yes", CancelButtonText = "No" });

        if (!confirmed.HasValue || !confirmed.Value)
            return;

        await UserGamesService.DeleteUserGameAsync(item.Id);

        UserGames.Remove(item);

        StateHasChanged();

        NotificationService.Notify(NotificationSeverity.Success, "Deleted", $"{item.Videogame.Title} removed from your profile.");
    }

    public async Task<double> GetAvgRatingService(string id)
    {
        return await UserGamesService.GetAvgRating(id);
    }

    public async Task<UserGame?> GetMostPlayedGameService(string id)
    {
        return await UserGamesService.GetMostPlayedGame(id);
    }

    public async Task<UserGame?> GetRecentlyCompleteGameService (string id)
    {
        return await UserGamesService.GetRecentlyCompleteGame(id);
    }
}
