@page "/account/profile"
@attribute [Authorize]
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using Radzen
@using Radzen.Blazor
@using System.Reflection
@using System.ComponentModel.DataAnnotations
@using System.Security.Claims
@using VGLog.Data
@using VGLog.Models
@using VGLog.Services
@using Microsoft.AspNetCore.Components.Authorization
@using VGLog.Services.DTOs
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject VGLog.Services.VideogameService VideogameService
@inject VGLog.Services.UserGamesService UserGamesService

@inject Radzen.NotificationService NotificationService
@inject DialogService DialogService
@inject UserManager<ApplicationUser> UserManager


<RadzenDialog />

<RadzenNotification />

<PageTitle>VGLog – Profile</PageTitle>

<div>
    <div Style="display:flex; align-items:center; gap:1.5rem; padding:1.5rem;" class="stats-container">

        @if (!string.IsNullOrEmpty(avatarBase64))
        {
            <img src="@avatarBase64" style="width:256px; height:256px; border-radius:12px; object-fit:cover;" />
        }
        <div style="display:flex; flex-direction:column; gap:0.4rem; margin-bottom: 9rem">
            <h2 style="margin:0; font-size:4rem; font-weight:700; color: #9c9487;">@displayName</h2>
            <div style="display:flex; align-items:center; gap:0.5rem; font-size:0.85rem; color: #9c9487;">
                <RadzenIcon Icon="calendar_today" Style="font-size:16px;" />
                <span>Joined: @joinedDate</span>
            </div>
            <h3 style="margin:0; color:#666; font-size:0.9rem; color: #9c9487;">bioAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA futura</h3>

        </div>
    </div>
</div>

<div class="stats-container" Style="margin-top: 1rem; display:flex">
    <div class="chart-card chart-sm">
        <div class="stat-header text-primary">
            <span>Total Games</span>
        </div>
        <div class="stat-value text-dark">
            <RadzenIcon Icon="density_small" Class="stat-icon text-primary" />
            @if (ProfileData != null)
            {
                <span Class="text-primary">@ProfileData.Total</span>
            }
        </div>
    </div>

    <div Class="chart-card chart-sm">
        <div class="stat-header text-success">
            <span>Completed</span>
        </div>
        <div class="stat-value text-dark">
            <RadzenIcon Icon="check_circle" Class="stat-icon text-success" />
            @if (ProfileData != null)
            {
                <span Class="text-success">@ProfileData.Completed</span>
            }
        </div>
    </div>

    <div Class="chart-card chart-sm">
        <div class="stat-header text-purple">
            <span>Hours Played</span>
        </div>
        <div class="stat-value text-purple">
            <RadzenIcon Icon="data_info_alert" Class="stat-icon text-purple" />
            @if (ProfileData != null)
            {
                <span Class="text-purple">@ProfileData.TotalHours</span>
            }
        </div>
    </div>

    <div Class="chart-card chart-sm">
        <div class="stat-header text-green">
            <span>Completion Rate</span>
        </div>
        <div class="stat-value text-green">
            <RadzenIcon Icon="done_all" Class="stat-icon text-green" />
            @ProfileData?.CompletionRate%
        </div>
    </div>
</div>

<div class="stats-container" Style="margin-top: 1rem; display:flex">
    <div Class="chart-card chart-lg">
        <div class="stat-header text-yellow">
            <span>Average Rating</span>
        </div>
        <div class="stat-value text-yellow">
            <RadzenIcon Icon="kid_star" Class="stat-icon text-yellow" />
            @ProfileData?.AvgRating
        </div>
        <div class="text-yellow">
            <span class="p-stars">
                @{
                    var rating = (int)Math.Round((double)(ProfileData?.AvgRating ?? 0));
                }
                @for (int i = 1; i <= 10; i++)
                {
                    @(i <= rating ? "★" : "☆")
                }
            </span>
        </div>
    </div>

    <div Class="chart-card chart-lg">
        <div class="stat-header">
            <span>Most played</span>
        </div>
        <div class="stat-value">
            @if (ProfileData?.MostPlayedGame?.Videogame?.Image != null)
            {
                <img src="data:image/jpeg;base64,@Convert.ToBase64String(ProfileData.MostPlayedGame.Videogame.Image)" style="width:55px; height:75px; object-fit:cover; border-radius:6px;" />
            }
            <div style="display:flex; flex-direction:column; gap:0.2rem; color: #9c9487 ">
                <span style="font-size:1rem; font-weight:700;">@ProfileData?.MostPlayedGame?.Videogame.Title</span>
                <span style="font-size:0.85rem">@ProfileData?.MostPlayedGame?.HoursPlayed hours</span>
            </div>
        </div>
    </div>

    <div Class="chart-card chart-lg">
        <div class="stat-header">
            <span>Recently Completed</span>
        </div>
        <div class="stat-value" style="color: #9c9487">
            @if (ProfileData?.MostRecentlyCompletedGame?.Videogame?.Image != null)
            {
                <img src="data:image/jpeg;base64,@Convert.ToBase64String(ProfileData.MostRecentlyCompletedGame.Videogame.Image)" style="width:55px; height:75px; object-fit:cover; border-radius:6px;" />
            }
            <div style="display:flex; flex-direction:column; gap:0.2rem;">
                <span style="font-size:1rem; font-weight:700;">@ProfileData?.MostRecentlyCompletedGame?.Videogame.Title</span>
                <span style="font-size:0.85rem">
                    @(
                     ProfileData.MostRecentlyCompletedGame?.CompletedAt.HasValue == true
                     ? "on " + ProfileData.MostRecentlyCompletedGame.CompletedAt.Value.ToString("MMMM dd, yyyy", System.Globalization.CultureInfo.InvariantCulture)
                     : ""
                     )
                </span>
            </div>
        </div>
    </div>
</div>

@code {
    protected List<KeyValuePair<GameStatus, string>> GameStatuses =
    Enum.GetValues<GameStatus>()
        .Select(e => new KeyValuePair<GameStatus, string>(
            e,
            e.GetType()
             .GetMember(e.ToString())[0]
             .GetCustomAttribute<DisplayAttribute>()?.Name ?? e.ToString()
        ))
        .ToList();

    //variabili per autenticazione
    private AuthenticationState? authState;
    private ClaimsPrincipal? user;
    private string? userId;


    private string? displayName;
    private string? avatarBase64;
    private string joinedDate;
    private GetUserGamesDto? ProfileData;
    private List<UserGame> UserGames = new();



    protected override async Task OnInitializedAsync()
    {
        authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        user = authState.User;
        userId = user.FindFirst(ClaimTypes.NameIdentifier)?.Value;

        if (string.IsNullOrEmpty(userId))
        {
            NotificationService.Notify(NotificationSeverity.Error, "Error", "User not authenticated");
            return;
        }

        var currentUser = await UserManager.FindByIdAsync(userId);
        joinedDate = currentUser.UserCreationTime.ToString("dd MMMM, yyyy", System.Globalization.CultureInfo.InvariantCulture);


        await LoadUserGames();

        avatarBase64 = currentUser.Avatar != null
            ? $"data:image/png;base64,{Convert.ToBase64String(currentUser.Avatar)}"
            : null;

        displayName = GetDisplayNameService(user, userId);

    }

    private async Task LoadUserGames()
    {
        try
        {
            ProfileData = await UserGamesService.GetUserGamesByIdAsync(userId);

        }
        catch
        {
            NotificationService.Notify(NotificationSeverity.Error, "Error", "There's an error retrieving the profile data, try again later");
        }

    }

    public string GetDisplayNameService(ClaimsPrincipal user, string id)
    {
        return UserGamesService.GetDisplayName(user, id);
    }
}
